
* {
	margin: 0;
	padding: 0;
	-moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
	-webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
	box-sizing:         border-box;   /* Everything else */
}


body {
	background: #fff;
	color: #333333;
	font-family: sans-serif;
	font-size: 1em;
}
/* Headings */

h1,h2,h3,h4,h5,h6 { 
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h1 { font-size: 40px; }

h2 { font-size: 30px; }

h3 { font-size: 20px; }

h4 { font-size: 16px; }

h5 { font-size: 14px; }

h6 { font-size: 12px; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img { margin:0; }

/* Paragraps */

p { 
	margin: 0 0 15px 0;
	text-align: left;
	line-height: 1.4em;
}

ul, ol	{
	margin: 0 0 15px 30px;
	padding: 0;
}

li	{
	line-height: 1.3em;
	margin: 0 0 15px 0;
	list-style: disc;
}

/* Links */
a, a:visited {
	text-decoration: underline;
}

a:hover, a:focus {
	text-decoration: none;
}

a:focus { 
    outline: none;
}

/* Header / Primary / Secondary Navigation
------------------------------------------------------------ */

.nav	{
	width: 100%;         /* Spans the width of the page */
	height: 53px;
	margin: 0;           /* Ensures there is no space between sides of the screen and the menu */
	z-index: 99;         /* Makes sure that your menu remains on top of other page elements */
	position: relative; 
	background-color: #ededed;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#ededed));
	background-image: -webkit-linear-gradient(top, #f2f2f2, #ededed); 
	background-image:    -moz-linear-gradient(top, #f2f2f2, #ededed);
	background-image:     -ms-linear-gradient(top, #f2f2f2, #ededed);
	background-image:      -o-linear-gradient(top, #f2f2f2, #ededed);
	border-top: 1px solid white;
	border-bottom: 2px solid #d4d4d4;
}

.navbar	{
  padding: 0;
	margin: 0;
	position: absolute;  /* Ensures that the menu doesn’t affect other elements */
	border-right: 1px solid #fff; 
}

.navbar li 	{
	height: auto;
	width: 140px;        /* Each menu item is 150px wide */
	float: left;         /* This lines up the menu items horizontally */
	text-align: center;  /* All text is placed in the center of the box */
	list-style: none;    /* Removes the default styling (bullets) for the list */
	font: normal bold 12px/1.2em sans-serif;  
	padding: 0;
	margin: 0;
}
.navbar a	{							
	padding: 18px 0;     /* Adds a padding on the top and bottom so the text appears centered vertically */
	border-left: 1px solid #fff; /* Creates a border in a slightly lighter shade of blue than the background.  Combined with the right border, this creates a nice effect. */
	border-right: 1px solid #ededed; /* Creates a border in a slightly darker shade of blue than the background.  Combined with the left border, this creates a nice effect. */
	text-decoration: none;  /* Removes the default hyperlink styling. */
	color: #3C3B3B;      /* Text color is white */
	display: block;
	text-shadow: 1px 1px 1px #C6C3C3;
}

.navbar li:hover, a:hover,
li.current {
	background-color: #fff;
} 
.navbar li ul 	{
	display: none;       /* Hides the drop-down menu */
	height: auto;								
	margin: 0;           /* Aligns drop-down box underneath the menu item */
	padding: 0;          /* Aligns drop-down box underneath the menu item */			
}				

.navbar li:hover ul 	{
	display: block;      /* Displays the drop-down box when the menu item is hovered over */
}
.navbar li ul li {
	background-color: #fff;
	width: 165px;
}

.navbar li ul li a 	{
	border-left: 1px solid #d4d4d4; 
	border-right: 1px solid #d4d4d4;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px solid #d4d4d4;
	padding: 15px 20px;
}
				
.navbar li ul li a:hover	{background-color: #eee;}

.wrapper {
	width: 100%;
	margin: 0 auto;
}


.wrap {
	padding: 0 5%;
	margin: 0 auto;
}

.col-1 {
	width: 100%;
}

.col-2-inner {
	margin-top: 30px;
}

pre {
	font-family: sans-serif;
	font-size: 1em;
}

